* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #1a1a1a;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    user-select: none; /* 텍스트 선택 방지 */
}

.container {
    text-align: center;
}

.intro {
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5rem;
    animation: typing 2s steps(30), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink {
    from { border-color: transparent; }
    to { border-color: white; }
}

.scroll-indicator {
    margin-top: 10px;
    font-size: 2rem;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 150px;
    position: relative;
}

.card {
    min-width: 300px;
    max-width: 300px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    position: absolute;
    opacity: 0;
    transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
    backface-visibility: hidden;
}

.card.active {
    transform: rotateY(0deg);
    opacity: 1;
}

.card.exit-left {
    transform: rotateY(-180deg);
    opacity: 0;
}

.card.exit-right {
    transform: rotateY(180deg);
    opacity: 0;
}

.nav-buttons {
    margin-top: 20px;
}

button {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #777;
}
